@font-face {
  font-family: 'Alte Haas Grotesk';
  src: url('../fonts/alte/AlteHaasGrotesk_Bold.woff2') format('woff2'),
      url('../fonts/alte/AlteHaasGrotesk_Bold.woff') format('woff'),
      url('../fonts/alte/AlteHaasGrotesk_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Alte Haas Grotesk';
  src: url('../fonts/alte/AlteHaasGrotesk.woff2') format('woff2'),
      url('../fonts/alte/AlteHaasGrotesk.woff') format('woff'),
      url('../fonts/alte/AlteHaasGrotesk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KG HAPPY Solid';
  src: url('../fonts/kghappy/KGHAPPYSolid.woff2') format('woff2'),
      url('../fonts/kghappy/KGHAPPYSolid.woff') format('woff'),
      url('../fonts/kghappy/KGHAPPYSolid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KG HAPPY';
  src: url('../fonts/kghappy/KGHAPPY.woff2') format('woff2'),
      url('../fonts/kghappy/KGHAPPY.woff') format('woff'),
      url('../fonts/kghappy/KGHAPPY.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KG HAPPY Shadows';
  src: url('../fonts/kghappy/KGHAPPYShadows.woff2') format('woff2'),
      url('../fonts/kghappy/KGHAPPYShadows.woff') format('woff'),
      url('../fonts/kghappy/KGHAPPYShadows.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mechanical Pencil';
  src: url('../fonts/mechanicalpencil/MechanicalPencil.woff2') format('woff2'),
      url('../fonts/mechanicalpencil/MechanicalPencil.woff') format('woff'),
      url('../fonts/mechanicalpencil/MechanicalPencil.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand Book';
  src: url('../fonts/quicksand/QuicksandBook-Regular.woff2') format('woff2'),
      url('../fonts/quicksand/QuicksandBook-Regular.woff') format('woff'),
      url('../fonts/quicksand/QuicksandBook-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand Light Oblique';
  src: url('../fonts/quicksand/QuicksandLightOblique-Regular.woff2') format('woff2'),
      url('../fonts/quicksand/QuicksandLightOblique-Regular.woff') format('woff'),
      url('../fonts/quicksand/QuicksandLightOblique-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/quicksand/QuicksandLight-Regular.woff2') format('woff2'),
      url('../fonts/quicksand/QuicksandLight-Regular.woff') format('woff'),
      url('../fonts/quicksand/QuicksandLight-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/quicksand/QuicksandBold-Regular.woff2') format('woff2'),
      url('../fonts/quicksand/QuicksandBold-Regular.woff') format('woff'),
      url('../fonts/quicksand/QuicksandBold-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand Book Oblique';
  src: url('../fonts/quicksand/QuicksandBookOblique-Regular.woff2') format('woff2'),
      url('../fonts/quicksand/QuicksandBookOblique-Regular.woff') format('woff'),
      url('../fonts/quicksand/QuicksandBookOblique-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand Dash';
  src: url('../fonts/quicksand/QuicksandDash-Regular.woff2') format('woff2'),
      url('../fonts/quicksand/QuicksandDash-Regular.woff') format('woff'),
      url('../fonts/quicksand/QuicksandDash-Regular.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand Bold Oblique';
  src: url('../fonts/quicksand/QuicksandBoldOblique-Regular.woff2') format('woff2'),
      url('../fonts/quicksand/QuicksandBoldOblique-Regular.woff') format('woff'),
      url('../fonts/quicksand/QuicksandBoldOblique-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

